{% extends "nav-template.html" %}
{% block content %}
<br><br><br><br>
<div id="warning" class="alert alert-warning alert-dismissible form-messages">
  <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->

</div>
<h2 style="padding-left: 20px;">Add Recipe</h2>

<!--  <form method=post action="/register/"> -->
<form class="" action="/registerRecipe/" method="post" onsubmit = "return(validate());">
  <div class="form-row">
    <div class="form">
      <h4 class="form-header">Recipe Name</h3>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Recipe Name</span>
          </div>
          <input id="recipe-name" name="recipe-name" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="form">
        <h4 class="form-header">Meal</h3>
          <div class="form-check form-check-inline">
            <input name="meal-type" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Breakfast">
            <label class="form-check-label" for="inlineCheckbox1">Breakfast</label>
          </div>
          <div class="form-check form-check-inline">
            <input name="meal-type" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Lunch">
            <label class="form-check-label" for="inlineCheckbox2">Lunch</label>
          </div>
          <div class="form-check form-check-inline">
            <input name="meal-type" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Dinner">
            <label class="form-check-label" for="inlineCheckbox3">Dinner</label>
          </div>
          <div class="form-check form-check-inline">
            <input name="meal-type" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Side">
            <label class="form-check-label" for="inlineCheckbox3">Side</label>
          </div>
          <div class="form-check form-check-inline">
            <input name="meal-type" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Drink">
            <label class="form-check-label" for="inlineCheckbox3">Drink</label>
          </div>
          <div class="form-check form-check-inline">
            <input name="meal-type" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Dessert">
            <label class="form-check-label" for="inlineCheckbox3">Dessert</label>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form">
          <h4 class="form-header">Season</h3>
            <div class="form-check form-check-inline">
              <input name="meal-season" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Spring">
              <label class="form-check-label" for="inlineCheckbox1">Spring</label>
            </div>
            <div class="form-check form-check-inline">
              <input name="meal-season" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Summer">
              <label class="form-check-label" for="inlineCheckbox2">Summer</label>
            </div>
            <div class="form-check form-check-inline">
              <input name="meal-season" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Fall">
              <label class="form-check-label" for="inlineCheckbox3">Fall</label>
            </div>
            <div class="form-check form-check-inline">
              <input name="meal-season" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Winter">
              <label class="form-check-label" for="inlineCheckbox3">Winter</label>
            </div>
          </div>
          <div class="form">
            <h4 class="form-header">Crockpot Meal</h3>
              <div class="form-check form-check-inline">
                <input name="meal-crockpot" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Yes">
                <label class="form-check-label" for="inlineCheckbox1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="meal-crockpot" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="No">
                <label class="form-check-label" for="inlineCheckbox2">No</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form">
              <h4 class="form-header">Submitter Name</h3>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Submitter Name</span>
                  </div>
                  <input  name="submitter-name" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
              <!--
              <h4 class="form-header">Source of Recipe</h3>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input name="meal-src-url-ind" id="url-src-recipe" onchange="getRecipeSRC()" type="radio" class="form-check-input" checked>URL Web Address
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input name="meal-src-upload-ind" id="upload-src-recipe" onchange="getRecipeSRC()" type="radio" class="form-check-input" >Upload PDF
                  </label>
                </div>
                <div id="url-recipe-input" class="input-group mb-3" >
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Recipe URL</span>
                  </div>
                  <input name="meal-src-url" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div id="upload-recipe-input" class="input-group-prepend">
                  <div class="custom-file mb-3">
                    <input name="meal-src-upload" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                </div> -->
              </div>
              <div class="form">
                <h4 class="form-header">Image URL</h3>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Image URL</span>
                    </div>
                    <input name="meal-img-url" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                <!-- <h4 class="form-header">Upload Image</h3>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input name="meal-img-url-ind" id="url-src-img" onchange="getImgSRC()" type="radio" class="form-check-input" " checked>URL Web Address
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input name="meal-img-upload-ind" id="upload-src-recipe" onchange="getImgSRC()" type="radio" class="form-check-input" >Upload PDF
                    </label>
                  </div>
                  <div id="url-img-input" class="input-group mb-3" >
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Recipe URL</span>
                    </div>
                    <input name="meal-img-url" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div id="upload-img-input" class="input-group-prepend">
                    <div class="custom-file mb-3">
                      <input name="meal-img-upload" type="file" class="custom-file-input" id="customFile" >
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>  -->
                </div>
              </div>
              <div class="form-row">
                <div id="instructions"  class="form container">
                  <h4 class="form-header">Add Instructions</h3>
                    <div class="form-group">
                      <textarea name="text-instructions" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="9" style="resize:none;" ></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div id="ingredient-tag"  class="form container">
                    <h4 class="form-header">Add Ingredients</h3>
                      <input  id="form-tags-1" name="ingredient-tags" type="text" onChange="addIngredientsTable()" >
                      <table id="ingredients-table">
                        <thead>
                          <tr>
                            <th>Ingredient</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <p><input href="#" type="submit" action="/registerRecipe/" value="Add Recipe"></p>
                </form>
                <br><br><br><br><br>
                <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
                <script>
                  $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                  });

                </script>
                <script type="text/javascript">
                  function addClickAction() {
                    $('.dropdown-menu a').click(function(){
                      console.log('called?');
                      console.log($(this).parent().attr('id'));
                      console.log(  $($(this).parent().siblings('button') ));
                      $($(this).parent().siblings('button') ).text($(this).text());
                    });
                  }
                  function validate() {
                    var rec_name = document.getElementsByName('recipe-name')[0] ;
                    if (rec_name.value.length< 1 || rec_name.value.length>150){
                      console.log(rec_name.value.length);
                      var warning = document.getElementById("warning");
                      warning.innerHTML = 'Please enter a recipe name that is greater than 1 character and less than 150.';
                      warning.style.visibility = "visible";
                      return false;
                    }

                    var meal_types = document.getElementsByName("meal-type");
                    checks = 0;
                    for (var i = 0, len = meal_types.length; i < len; i++) {
                         if (meal_types[i].checked) {
                             checks += 1;
                         }
                    }
                    if (checks == 0) {
                      var warning = document.getElementById("warning");
                      warning.innerHTML = 'Please select atleast one meal type.';
                      warning.style.visibility = "visible";
                      return false;
                    }
                    var meal_season = document.getElementsByName("meal-season");
                    checks = 0;
                    for (var i = 0, len = meal_season.length; i < len; i++) {
                         if (meal_season[i].checked) {
                             checks += 1;
                         }
                    }
                    if (checks == 0) {
                      var warning = document.getElementById("warning");
                      warning.innerHTML = 'Please select at least one meal season.';
                      warning.style.visibility = "visible";
                      return false;
                    }
                    var crockpot = document.getElementsByName("meal-crockpot");
                    checks = 0;
                    for (var i = 0, len = crockpot.length; i < len; i++) {
                         if (crockpot[i].checked) {
                             checks += 1;
                         }
                    }
                    if (checks == 0) {
                      var warning = document.getElementById("warning");
                      warning.innerHTML = 'Please reference if meal is for crockpots, not for crockpots or both.';
                      warning.style.visibility = "visible";
                      return false;
                    }
                    var img = document.getElementsByName('meal-img-url')[0] ;
                    if (img.value.length< 1 || img.value.length>300){
                      var warning = document.getElementById("warning");
                      warning.innerHTML = 'Please enter an image source that is greater than 1 character and less than 300.';
                      warning.style.visibility = "visible";
                      return false;
                    }
                    var instructions = document.getElementsByName('text-instructions')[0] ;
                    if (instructions.value.length< 1 || instructions.value.length>1000){
                      var warning = document.getElementById("warning");
                      warning.innerHTML = 'Please enter instructions that is greater than 1 character and less than 1000.';
                      warning.style.visibility = "visible";
                      return false;
                    }
                    var ingredients = document.getElementById('form-tags-1_tagsinput');
                    if (ingredients.childElementCount < 2 ){
                      var warning = document.getElementById("warning");
                      warning.innerHTML = 'Please enter at least 1 ingredient.';
                      warning.style.visibility = "visible";
                      return false;
                    }
                    ings_tags = ingredients.getElementsByTagName('span');
                    for (var i=0; i< ings_tags.length; i++){
                      if ( ings_tags[i].innerText.includes(',') ) {
                        var warning = document.getElementById("warning");
                        warning.innerHTML = 'Please do not include a comma in ingredient name.';
                        warning.style.visibility = "visible";
                        return false;
                      }
                    }
                    var ingredient_amounts = document.getElementsByClassName('ingredient-amt');
                    for (var i=0; i<ingredient_amounts.length; i++){
                      if (ingredient_amounts[i].value.length == 0){
                        var warning = document.getElementById("warning");
                        warning.innerHTML = 'Please enter an amount for all ingredients.';
                        warning.style.visibility = "visible";
                        return false;
                      }
                    }
                    return true;
                  };
                </script>



                {% endblock %}
