

{% extends "nav-template.html" %}
{% block content %}
  <!-- Page Content -->
  <div class="" id="dashboard">
    <div class="row">
      <div class="dashboard-item" id="recipes">
        <button class="btn-dash" type="button" name="button" onclick="window.location.href='{{url_for('recipe_search')}}'" >
          <i class='fas fa-lemon' style='font-size:48px;color:#05386B'></i><br>
          Recipes
        </button>
      </div>
      <div class="dashboard-item" id="finances">
        <button class="btn-dash" type="button" name="button">
          <i class='fas fa-piggy-bank' style='font-size:48px;color:#05386B'></i><br>
          Finances
        </button>
      </div>
      <div class="dashboard-item" id="to-do">
        <button class="btn-dash" type="button" name="button">
          <i class='fas fa-book' style='font-size:48px;color:#05386B'></i>
          <br>To Do
        </button>
      </div>
    </div>
    <div class="row">
      <div class="dashboard-item" id="bucket-list">
        <button class="btn-dash" type="button" name="button">
          <i class='fas fa-globe-africa' style='font-size:48px;color:#05386B'></i>
          <br>Bucket List</button>
      </div>
      <div class="dashboard-item" id="recipes">
        <button class="btn-dash" type="button" name="button">
          <i class='fas fa-dumbbell' style='font-size:48px;color:#05386B'></i>
          <br>Exercise Goals</button>
        </button>
      </div>
      <div class="dashboard-item" id="recipes">
        <button class="btn-dash" type="button" name="button">Recipes</button>
      </div>
    </div>
  </div>
  <!-- /.container -->

{% endblock %}
