
{% extends "nav-template.html" %}
{% block content %}

<!DOCTYPE html>
<div id="recipe-search">
  <h2>Cookbook</h2>

  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names, ingredients, seasons, crockpot and more..." title="Type in a name">
  <div  class="add-recipe-div" id="to-do">
    <button class="btn-dash" id="add-recipe-btn" type="button" name="button" onclick="window.location.href='{{url_for('add_recipe')}}'">
      <div class="">
      <i class='far fa-align-left fa-plus-square' style='font-size:48px;color:#05386B'></i>
      <a id="add-recipe-btn-a">Add recipes</a>
      </div>
    </button>
  </div>

  {{ table |  safe }}
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("recipe-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
var test = '{{ dets }}'
console.log(test)

function onRowClick(tableId, callback) {
    var table = document.getElementById(tableId),
        rows = table.getElementsByTagName("tr"),
        i;
    for (i = 0; i < rows.length; i++) {
        table.rows[i].onclick = function (row) {
            return function () {
                callback(row);
            };
        }(table.rows[i]);
    }
};

onRowClick("recipe-table", function (row){
    var rowid = "details-row";
    // delete table rows
    var details_row = document.getElementById(rowid);
    var current_row = "";
    if (details_row != null){
      current_row = details_row.previousElementSibling.getElementsByTagName("td")[0].textContent;
      details_row.parentNode.removeChild(details_row);
    };

    var value = row.getElementsByTagName("td")[0].innerHTML;
    var row_num = row.closest('tr').rowIndex;
    //document.getElementById('click-response').innerHTML = value + " clicked!";
    console.log("value>>", value);
    console.log("Row num>>", row_num);

    if (current_row != value) {
      console.log("Current row", current_row);
      console.log("value row", value);
      var table = document.getElementById("recipe-table");
      var row = table.insertRow(row_num+1);
      row.id = rowid;
      var cell1 = row.insertCell(0);
      cell1.colSpan = "100";
      cell1.innerHTML = "Showing details for " + value;
    };
});


</script>


{% endblock %}
