.form {
  padding: 10px;
  padding-left: 20px;
  margin-left: 20px;
  width: 40%;
  height: 140px;
  background-color: white;
  margin: 8px;

}
.main-body {
  background-color: #F0F0F0;
}
.form-header {
  background-color: #05386B;
  color: white;
  padding-left: 10px;
}
